:root {
  --main-font: "Merriweather", serif;
  --secondary-font: "Poppins", sans-serif;

  --main-color: #ecd8bd;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* start header */

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding-bottom: 12px;
  padding-top: 12px;

  background-color: #212121;
}

.nav-header {
  display: flex;
  gap: 133px;
}

.logo-header {
  margin-left: 180px;
  margin-right: 120px;
  width: 40px;
  height: 50px;
}

.nav-header-link {
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 21px;

  line-height: 1.105;
  color: var(--main-color);
}

.nav-header-list {
  display: inline;
  position: relative;
}

/* .nav-header-link.current:hover {
  display: block;

  font-weight: 400;
  font-size: 21px;
  color: #fff;
  border-radius: 20px;
} */

.button-header {
  padding: 0;
  margin-right: 70px;
  position: relative;

  width: 241px;
  height: 56px;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.105;
  color: var(--main-color);
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-radius: 50px;
  width: 241px;
  height: 56px;

  animation: stagger 3s linear repeat;
}

@keyframes stagger {
  0% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

/* end header */

/* start main */

/* start main page */
.main-container {
  position: relative;
}

.main-container-description {
  padding-top: 360px;
  padding-left: 190px;
  padding-bottom: 80px;

  background: linear-gradient(45deg, #212121, #292827);
}

.main-title {
  margin-bottom: 24px;
  display: inline;

  font-family: var(--second-family);
  font-weight: 400;
  font-size: 100px;
  line-height: 1.105;
  color: var(--main-color);
  transition: font-size 3s ease;
}

.main-title:hover {
  transition: font-size 3s ease;
  font-size: 110px;
}

.main-description {
  margin-bottom: 72px;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.105;
  color: var(--main-color);
}

.cleaning-main-container {
  display: flex;
}

.face-cleaning {
  margin-right: 44px;
  width: 130px;
  height: 130px;
}

.secondaty-title {
  margin-top: 7px;
  margin-bottom: 7px;

  font-family: var(--main-family);
  font-weight: 400;
  font-size: 25px;
  line-height: 1.105;
  color: var(--main-color);
}

.secondary-description {
  margin-bottom: 13px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.105;
  color: #afafaf;
}

.main-btn-svg {
  display: flex;
  align-items: center;
}

.main-btn {
  padding: 0;
  margin: 0px 10px 0px 0px;
  border: 0;

  font-family: var(--main-family);
  font-weight: 200;
  font-size: 20px;
  line-height: 1.105;
  color: var(--main-color);
  background-color: transparent;
}

.main-btn-svg {
  fill: var(--main-color);
}

.main-img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;

  width: 1000px;
  height: 1000px;
}

.oval-main {
  position: absolute;
  top: 130px;
  right: 120px;

  border-radius: 100%;
  width: 800px;
  height: 900px;
  border: 1px var(--main-color) solid;
}

.main-img-svg {
  position: absolute;
  top: 250px;
  right: 750px;
  z-index: 100;
}

.main-advantages {
  display: flex;
  padding: 30px 200px 20px 150px;
  gap: 105px;
  z-index: 1;

  background: var(--main-color);
}

.main-advantages-list {
  margin-right: 25px;
  position: relative;
  animation: slide-from-right-to-left 4s linear forwards;
}

@keyframes slide-from-right-to-left {
  0% {
    left: 0;
  }
  50% {
    left: 50px;
  }
  100% {
    left: 100px;
  }
}

.main-advantages-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-advantages-svg {
  margin-bottom: 12px;
  width: 74px;
  height: 74px;
}

/* end main page  */

/* end main */

/* start description page */

.description-container {
  position: relative;
  overflow: hidden;
  padding: 120px 180px 150px 120px;

  background: linear-gradient(45deg, #212121, #292827);
}

.container-img-description {
  display: flex;
}

.container-description-btn {
  padding-left: 150px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.description-title {
  margin-bottom: 25px;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 60px;
  line-height: 1.105;
  color: #eee2d6;
}

.description-definition {
  margin-bottom: 40px;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-color);
}

.description-btn-svg-container {
  position: relative;
}

.description-btn {
  font-family: var(--family-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.105;
  color: #212121;

  border-radius: 50px;
  width: 239px;
  height: 70px;
  background-color: var(--main-color);
}

.description-btn-svg {
  position: absolute;
  top: 20px;
  left: 15px;

  margin-right: 8px;

  width: 30px;
  height: 30px;
}

.description-img {
  position: absolute;
  right: 100px;
  bottom: 50px;
}

.description-sun-svg {
  position: absolute;
  top: 500px;
  right: -110px;
  fill: var(--main-color);
  width: 500px;
  height: 350px;
}

.description-botom-svg {
  position: absolute;
  left: 0;
  bottom: -125px;
  fill: var(--main-color);
  width: 250px;
  height: 250px;
}
/* end description */

/* start photo */
.photo-container {
  padding: 100px 110px 120px 110px;
  background-color: var(--main-color);
}

.photo-title {
  font-family: var(--main-family);
  font-weight: 400;
  font-size: 70px;
  line-height: 1.105;
  color: #212121;

  text-align: center;
}

.photo-description {
  margin-bottom: 77px;

  font-family: var(--main-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.105;
  color: #7d5620;

  text-align: center;
}

.photo-description-btn-container {
  height: 46px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.photo-list {
  display: flex;
  justify-content: center;

  gap: 40px;
  margin-bottom: 30px;
}

.photo-item {
  width: 280px;
}

.photo-img {
  width: 250px;
  height: 380px;
  margin-bottom: 25px;
}

.photo-main-description {
  margin-bottom: 25px;

  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 38px;
  line-height: 1.105;
  color: #212121;
}

.photo-list-btn {
  width: 113px;
  height: 46px;
  visibility: hidden;
}

.photo-item:hover .photo-list-btn {
  visibility: visible;
  border-radius: 40px;
  border: none;
  width: 113px;
  height: 46px;
  background-color: #b58224;
}

.photo-secondary-description {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.105;
  color: #212121;
}

.photo-btn-container {
  display: flex;
  justify-content: center;
}

.photo-main-btn {
  border: 1px solid #212121;
  border-radius: 50px;
  padding: 17px 53px;
  width: 308px;
  background-color: transparent;
  cursor: pointer;
}

/* end photo */

/* start masters */
.masters-container {
  padding-top: 150px;
  background: linear-gradient(45deg, #212121, #292827);
}

.masters-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 140px;
}

.masters-item-zigzag {
  position: absolute;
  bottom: 0;
  left: -10px;
}

.higher-masters-title {
  font-family: var(--main-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.105;
  text-align: center;
  color: var(--main-color);
}

.masters-title {
  font-family: var(--main-family);
  font-weight: 400;
  font-size: 70px;
  line-height: 1.275;
  text-align: center;
  color: antiquewhite;
}

.lower-masters-description {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #cacaca;
}
.masters-item {
  position: relative;
}

.masters-item-svg-dots {
  position: absolute;
  top: -20px;
  left: -20px;
}

/* end masters */

/* start services */
.services-container {
  position: relative;
  padding: 150px 170px;
  background: linear-gradient(45deg, #212121, #292827);
}

.services-lower-svg {
  position: absolute;
  bottom: -50px;
  right: 0;
}

.services-title {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 40px;
  line-height: 1.105;
  color: antiquewhite;

  margin-bottom: 35px;
}

.services-list-btn {
  display: flex;
  gap: 40px;
}

.services-item {
  border-radius: 50px;
  border: 1px solid var(--main-color);
  padding: 17px 53px;
  background-color: transparent;
  margin-bottom: 45px;
}

.services-btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.105;
  color: #fff;
  background-color: transparent;
  border: none;
}

.services-description {
  width: 820px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.6;
  color: #cacaca;
}

.services-description-effects-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.services-effects-title {
  font-family: var(--main-family);
  font-weight: 400;
  font-size: 25px;
  line-height: 1.6;
  color: antiquewhite;
}

.services-item-description {
  font-family: var(--main-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: rgb(255, 255, 255, 0, 5);
  color: antiquewhite;
}

/* end services */

/* start price */
.price-container {
  padding: 110px 100px;
  background-color: var(--main-color);
}

.price-title {
  margin-bottom: 10px;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 70px;
  line-height: 1.105;
  color: #212121;

  text-align: center;
}

.price-description {
  margin-bottom: 35px;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.105;
  color: #7d5620;

  text-align: center;
}

.price-container-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.price-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.price-item {
  width: 470px;
}

.price-item:hover .price-description-container {
  visibility: visible;
  animation: show 2s linear;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.price-description-container {
  visibility: hidden;
}

.price-item-title {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 41px;
  line-height: 1.105;
  color: #212121;
}

.price-higher-description {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.105;
  color: #7d5620;
}

.price-lower-description {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.105;
  color: #212121;
}

.new-price-container {
  display: flex;
  align-items: center;
}

.price-btn-container {
  display: flex;
  justify-content: center;
}

.reviews-btn {
  border: 1px solid #212121;
  border-radius: 50px;
  padding: 17px 53px;
  width: 308px;
  background-color: transparent;
  cursor: pointer;
}
/* end price */

/* start record */
.contact-main-container {
  padding: 160px 180px;
  background: linear-gradient(45deg, #212121, #292827);
}

.contact-secondary-container {
  position: relative;
  padding: 114px 210px 142px 270px;
  background-color: var(--main-color);
}

.contact-leaf{
  position: absolute;
  top: -60px;
  left: 0;
  fill: var(--main-color);
}

.contact-title {
  margin-bottom: 55px;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 70px;
  line-height: 1.225;
  color: #212121;

  text-align: center;
}

.contact-email-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-input {
  width: 100%;
  padding: 10px 0px 10px 10px;
  margin-right: 10px;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.225;
  background-color: transparent;
  border-radius: 42px;
  border: 2px solid #212121;
}

.contact-btn {
  padding: 14px 45px;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.225;
  border-radius: 150px;
  background-color: #212121;
  color: antiquewhite;
}

/* end record */

/* start footer */
.footer-container {
  position: relative;
  overflow: hidden;
  padding: 142px 180px 35px 180px;
  background: linear-gradient(45deg, #212121, #292827);
}

.footer-oval {
  /* z-index: 100; */
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  height: 800px;
  border-radius: 50%;
  transform: rotate(-45deg);
  background-color: rgba(236, 216, 189, 0.15);
}

.footer-line {
  width: 100%;
  height: 1px;
  background-color: antiquewhite;
}

.footer-left-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left-container {
  display: flex;
  flex-direction: column;
}

.footer-right-container {
  display: flex;
}

.footer-item-logo {
  margin-bottom: 25px;
  width: 90px;
  height: 120px;
}

.footer-main-item.description {
  margin-bottom: 16px;
}

.footer-higher-description {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.105;
  color: #fff;
}

.footer-lower-description {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.105;
  color: #9e9e9e;
}

.footer-social-links {
  display: flex;
  gap: 15px;
}

.footer-social-list {
  margin-top: 60px;
  margin-bottom: 130px;
}

.footer-social-svg {
  fill: #fff;
  width: 30px;
  height: 30px;
}

.footer-right-container {
  gap: 90px;
}

.footer-nav-title,
.footer-contact-title,
.footer-time-title {
  margin-bottom: 30px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.105;
  color: #fff;
}

.footer-nav-description,
.footer-contact-link,
.footer-time-description {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.105;
  color: #9e9e9e;
}

.footer-nav-item,
.footer-contact-item,
.footer-time-item {
  margin-bottom: 15px;
}

.footer-copy {
  margin-top: 15px;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.105;
  color: #9e9e9e;

  text-align: center;
}

/* end footer */
